version: 2.1

executors:
    grid2op-executor:
        docker:
            - image: python:3.10
        working_directory: /Grid2Op

    python37:
        docker:
            - image: python:3.7
    python38:
        docker:
            - image: python:3.8
    python39:
        docker:
            - image: python:3.9
    python310:
        docker:
            - image: python:3.10
    python311:
        docker:
            - image: python:3.11
    python312:
        docker:
            - image: cimg/python:3.12

jobs:
    test:
        executor: grid2op-executor
        resource_class: medium+
        parallelism: 4
        steps:
            - checkout
            - run: apt-get update -y
            - run: apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   pip install -U pip setuptools wheel coverage
            - run:
                command: |
                  source venv_test/bin/activate
                  pip install -e .[test]
                  export _GRID2OP_FORCE_TEST=1
                  cd grid2op/tests/
                  python3 helper_list_test.py > li_test
                  cat li_test | circleci tests split > /tmp/tests_run
            - run:
                command: |
                  source venv_test/bin/activate
                  pip freeze
            - run: cat /tmp/tests_run
            - run:
                command: |
                  source venv_test/bin/activate
                  cd grid2op/tests/
                  export _GRID2OP_FORCE_TEST=1
                  coverage run -m unittest -v $(cat /tmp/tests_run)
                #   ls -lah | grep .coverage
            # - run:
            #     command: |
            #       ls -lah /Grid2Op/grid2op/tests/.coverage.*

            # - store_artifacts:
            #     path: "/Grid2Op/grid2op/tests/test_Action.py"
            #     destination: coverage_artifacts/

    gen_coverage:
        executor: grid2op-executor
        resource_class: small
        steps:
            - checkout
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   pip install -U pip setuptools wheel coverage
            - run:
               command: |
                   source venv_test/bin/activate
                   cd grid2op/tests/
                   coverage combine ../../coverage_artifacts/ --keep
                   coverage report -m -i
                   coverage html -i
                   coverage xml -i
            - store_artifacts:
                path: grid2op/tests/htmlcov
                destination: htmlcov
            - store_artifacts:
                path: grid2op/tests/coverage.xml
                destination: coverage.xml
            
    install36:
        executor: python36
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    apt-get update
                    apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   pip install -U pip setuptools wheel
            - run:
                command: |
                    source venv_test/bin/activate
                    pip install -U numba
                    pip install -U "numpy>=1.18,<1.19"
                    pip install -U .[test]
                    export _GRID2OP_FORCE_TEST=1
                    grid2op.testinstall
            - run:
               command: |
                   source venv_test/bin/activate
                   pip install -U "numpy>=1.19,<1.20"
                   pip install -U .[test]
                   export _GRID2OP_FORCE_TEST=1
                   grid2op.testinstall
                   
    install37:
        executor: python37
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    apt-get update
                    apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U pip setuptools wheel
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U numba
                   python -m pip install -U "numpy>=1.20,<1.21"
                   python -m pip install -U .[test]
                   export _GRID2OP_FORCE_TEST=1
                   grid2op.testinstall
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U "numpy>=1.21,<1.22"
                   python -m pip install -U .[test]
                   export _GRID2OP_FORCE_TEST=1
                   grid2op.testinstall

    install38:               
        executor: python38
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    apt-get update
                    apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U pip setuptools wheel
                   python -m pip install -U numba
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U "numpy>=1.20,<1.21" "pandas<2.2" "scipy<1.12" numba "pillow<10.4.0" .[test]
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   cd /tmp
                   grid2op.testinstall
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U "numpy>=1.24,<1.25" "pandas<2.2" "scipy<1.12" numba "pillow<10.4.0" .[test]
            - run:
                command: |
                   source venv_test/bin/activate
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   cd /tmp
                   grid2op.testinstall

    legacy_lightsim_old_pp:               
        executor: python38  # needs to be 38: whl of lightsim were not released for 3.10 at the time
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    apt-get update
                    apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U pip setuptools wheel
                   python -m pip install -U lightsim2grid==0.5.3 gymnasium "numpy<1.22"
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -e .
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   python -m unittest grid2op/tests/test_basic_env_ls.py

    legacy_lightsim:               
        executor: python38  # needs to be 38: whl of lightsim were not released for 3.10 at the time
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    apt-get update
                    apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U pip setuptools wheel
                   python -m pip install -U lightsim2grid==0.6.0 gymnasium "numpy<1.22"
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -e . 
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   python -m unittest grid2op/tests/test_basic_env_ls.py

    test_chronix2grid:               
        executor: python310  # needs to be 38: whl of lightsim were not released for 3.10 at the time
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    apt-get update
                    apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U pip setuptools wheel "numpy==1.26.4"
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -e .[chronix2grid] "linopy==0.3.8" "scs==3.2.4.post1" "ecos==2.0.13" "pillow==10.3.0" "numpy==1.26.4" "xarray==2024.3.0"
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   python -m unittest grid2op/tests/fromChronix2grid.py

    test_powermodels:
        executor: python312
        resource_class: medium+  # install_julia step killed w/"small"
        steps:
            - checkout
            - run:
                command: |
                  sudo  apt-get update
                  sudo  apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
                name: Install Python dependencies
                command: |
                  source venv_test/bin/activate
                  python -m pip install -U pip setuptools wheel pytest
            - run:
                name: Install Grid2op
                command: |
                  source venv_test/bin/activate
                  # below (1 line) is fine when released pandamodelsbackend works w/grid2op
                  # python -m pip install -e .[powermodels]
                  # but when need special PdMdB repo, in this case to work with grid2op 1.11dev, use below (2 lines)
                  python -m pip install -e .
                  python -m pip install 'git+https://github.com/MOSSLab-MIT/PandaModelsBackend.git@g2o_v1p11'
                  pip freeze
            - run:
                name: Install Julia and power software
                command: |
                  source venv_test/bin/activate
                  ./utils/install_julia.sh 1.10.4
                  python -m pip install julia
                  julia -e 'using Pkg; Pkg.add(["PandaModels", "PyCall"])'
            - run:
                name: Environment information
                command: |
                  source venv_test/bin/activate
                  pip list
                  pip list | grep -e power -e grid -e panda
                  which python python-jl julia
                  python --version
                  python-jl --version
                  julia --version
                  julia -e 'using Pkg; Pkg.status(); Pkg.status(outdated=true)'
                  julia -e 'using PyCall; math = pyimport("math"); print(math.sin(math.pi/4))'
            - run:
                name: Test PowerModels in PandaPower
                command: |
                  source venv_test/bin/activate
                  pyMm=$(python -c "import sys;print(f'{sys.version_info.major}.{sys.version_info.minor}')")
                  python -m pytest -v venv_test/lib/python$pyMm/site-packages/pandapower/test/opf/test_pandamodels_runpm.py
                  # use python-jl instead of python above if get a static libpython error
            - run:
                name: Test PandaModelsBackend
                command: |
                  source venv_test/bin/activate
                  pyMm=$(python -c "import sys;print(f'{sys.version_info.major}.{sys.version_info.minor}')")
                  python venv_test/lib/python$pyMm/site-packages/pandamodelsbackend/tests/test_backend_api.py
                  # use python-jl instead of python above if get a static libpython error


    install39:
        executor: python39
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    apt-get update
                    apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   export _GRID2OP_FORCE_TEST=1
                   source venv_test/bin/activate
                   python -m pip install -U pip setuptools wheel "numpy>=1.20,<1.21" "pandas<2.2" "scipy==1.10.1" "pillow<10.4.0" numba
                   python -m pip uninstall -y grid2op
            - run:
               command: |  # issue with previous more simple install, so I fix some versions
                   source venv_test/bin/activate
                   python -m pip install "numpy>=1.20,<1.21" "pandas<2.2" "scipy==1.10.1" numba .
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   cd /tmp
                   grid2op.testinstall
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install "numpy>=1.26,<1.27" "pandas<2.2" "scipy<1.12" numba "pillow<10.4.0"
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   cd /tmp
                   grid2op.testinstall

    install310:
        executor: python310
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    apt-get update
                    apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U pip setuptools wheel
                   python -m pip install -U numba
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U "numpy>=1.21,<1.22" "pandas<2.2" "scipy<1.12" numba .
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   cd /tmp
                   grid2op.testinstall
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U "numpy>=1.26,<1.27" "pandas<2.2" "scipy<1.12" numba
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   cd /tmp
                   grid2op.testinstall

    install311:
        executor: python311
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    apt-get update
                    apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U pip setuptools wheel
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U "numpy>=1.23,<1.24" "pandas<2.2" "scipy<1.12" numba .
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   cd /tmp
                   grid2op.testinstall
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U "numpy>=1.26,<1.27" "pandas<2.2" "scipy<1.12" numba
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   cd /tmp
                   grid2op.testinstall
    install312:
        executor: python312
        resource_class: small
        steps:
            - checkout
            - run: 
                command: |
                    sudo  apt-get update
                    sudo  apt-get install -y coinor-cbc
            - run: python -m pip install virtualenv
            - run: python -m virtualenv venv_test
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U pip setuptools wheel
                #    python -m pip install -U numba  # not on python 3.12 at the moment
            - run:
               command: |
                   source venv_test/bin/activate
                   python -m pip install -U "numpy>=1.26,<1.27" "pandas<2.2" "scipy<1.12" .
                   pip freeze
            - run:
                command: |
                   source venv_test/bin/activate
                   export _GRID2OP_FORCE_TEST=1
                   cd /tmp
                   grid2op.testinstall

workflows:
    version: 2.1
    test:
        jobs:
          - test
          - legacy_lightsim_old_pp
          - legacy_lightsim
          - test_chronix2grid
          - test_powermodels

    install:
        jobs:
          - install38
          - install39
          - install310
          - install311
          - install312

    # gather_test_report:
    #     requires:
    #         - test
    #     jobs:
    #         - gen_coverage

    # send_tests_report:
    #     requires:
    #         - gather_test_report
    #     orbs:
    #         coverage-reporter: codacy/coverage-reporter@14.1.0
    #     jobs:
    #         coverage-reporter/send_report:
    #             coverage-reports: coverage.xml
    #             project-token: $CODACY_PROJECT_TOKEN
